<!DOCTYPE HTML>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" th:href="@{/form-styles.css}">
  </head>    
  <body>
  <div class="topnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/shows}">Shows</a>
    <a th:href="@{/add}">Add Grade</a>
    <a th:href="@{/grades}">Grades</a>
    <a th:href="@{/staff}">Staff</a>
  </div>
    <div class="container">
      <h2> Grade Portal </h2>
      <form method="POST" th:object="${grade}" th:action="@{/addGrade}">
        <input type="text" placeholder="Name" th:field="*{name}">
        <input type="text" placeholder="Subject" th:field="*{subject}">
        <input type="text" placeholder="Score" th:field="*{score}">
        <br><br>
        <input type="submit" value="Submit">
      </form>  
    </div>
</body>
</html>